<%= form_for [ @post, @comment ] do |f| %>

  <div class="form-group">
    <%= f.text_area :body, id: :inputBody, placeholder: "Create comment", class: "form-control" %>
  </div>
  <% if rate_not_exist? %>
    <div class="form-group">
      <%= f.label :rate, for: "inputRateValue" %>
      <%= f.text_field :rate_value, id: :inputRateValue, placeholder: "Only numbers 1-5", class: "form-control" %>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <p>
    <%= f.submit 'Create Comment', class: "btn btn-primary" %>
  </p>
<% end %>
