<h3>Post a Comment</h3>
<%= form_for [ @post, @comment ] do |f| %>

  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <% if rate_not_exist? %>
    <p>
      <%= f.label :rate %>
      <%= f.text_field :rate_value, placeholder: "Only numbers 1-5" %>
    </p>
  <% end %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
