<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Comment by <%= user_email(comment) %></h5>
    <p class="card-text"><%= comment.body %></p>
    <small> Rate of Post <%=comment.rate_value %></small> |
    <small>Posted <%= distance_of_time_in_words(comment.post.created_at, comment.created_at) %> later</small><br>
    <% if can? :destroy, comment %>
      <%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Really delete the comment?"}, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>








