<%= form_for(@post) do |f| %>
  <ul>
  <% @post.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <div class="form-group">
    <%= f.label :title, for: "inputTitle" %>
    <%= f.text_field :title, id: :inputTitle, placeholder: "Title of post", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content, for: "inputContent" %>
    <%= f.text_area :content, id: :inputContent, placeholder: "Enter post content here", class: "form-control" %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Create", class: "btn btn-primary" %>

<% end %>
