<h3> Show only posts with rate </h3>
<%= form_tag(posts_path, method: :get) do %>
  <%= text_field_tag :total_rate, params[:total_rate] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<h1>All Posts</h1>

<div class="list-group">
  <% @posts.each do |post| %>
    <%= link_to post_path(post), class: "list-group-item list-group-item-action flex-column align-items-start" do %>

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= post.title %></h5>
        <small class="text-muted">Comments (<%= number_of_comments(post) %>)</small>
      </div>
      <small class="text-muted">Post rate <%= post.total_rate || 'is absent' %></small>
    <% end %>
  <% end %>
</div>


