<div class="card text-white bg-primary mb-3" style="max-width: 52rem;">
  <div class="card-header">Rate of post <%= rate_exist? ? @post.total_rate : 'is absent' %>| Comments (<%= number_of_comments(@post) %>)</div>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.content %></p>
  </div>
</div>

<%= render partial: 'posts/comment', collection: @post.comments.reverse %>
<br>
<%= render partial: 'comments/form', post: @post %>
<%= link_to "<< Back to Posts List", posts_path %>
<% if can? :destroy, @post %>
  | <%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Really delete the post?"} %>
<% end %>
<% if can? :update, @post %>
 | <%= link_to "edit", edit_post_path(@post) %>
<% end %>

